@use "list" as l;

footer{
  background-color: #607f9f;
  color: white;
  width: 100%;
  text-align: center;
  .container{
    .row{
        min-height: 100px;
        .col-md-12{

        }
    }
  }
}