<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("partials/css_links.ejs") %>
</head>
<body>
    <%- include("partials/nav.ejs") %>
</body>
<%- include("partials/js_links.ejs") %>
</html>